@model User

@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">@Model.FirstName @Model.LastName</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@Model.Profilepic" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">

            @if (Model?.About !=null)
            {
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-action="Index">About</a></li>

            }
            @if (Model?.Experience?.Count >0)
            {
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-action="Index">Experience</a></li>
            }

            @if (Model?.Education?.Count >0)
            {
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-action="Index">Education</a></li>
            }
            @if (Model?.Tools?.Count >0)
            {
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-action="Index">Skills</a></li>
            }
            @if (Model?.Interest?.Count > 0)
            {
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-action="Index">Interests</a></li>
            }

            @if (Model?.Awards?.Count > 0)
            {
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-action="Index">Awards</a></li>
            }
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                @Model.FirstName
                <span class="text-primary"> @Model.LastName</span>
            </h1>
            <div class="subheading mb-5">
                @Model.Address,@Model.Phone
                <a href="mailto:name@email.com">@Model.Email</a>
            </div>
            <p class="lead mb-5">@Model.About</p>
            <div class="social-icons">

                @foreach (var s in Model.SocialMedia)
                {
                    <a class="social-icon"><i src="@s.Icon"></i></a>
                }


            </div>
        </div>
    </section>
    <hr class="m-0" />

    @if (Model.Experience.Count >0)
    {



        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0"> </h3>

                        @foreach (var exp in Model.Experience)
                        {
                            <div class="subheading mb-3">@exp.Company</div>
                            <p>@exp.Description</p>

                            <div class="flex-shrink-0"><span class="text-primary">@exp.JoinDate</span></div>

                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">@exp.Position</h3>
                                    <div class="subheading mb-3">@exp.Company</div>
                                    <p>@exp.Description</p>
                                </div>
                                <div class="flex-shrink-0"><span class="text-primary">@exp.EndDate</span></div>
                            </div>
                        }


                    </div>
        </section>
        <hr class="m-0" />
    }

    @if (Model?.Education?.Count >0)
    {

       <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">

                    @foreach (var edu in Model.Education)
                    {
                        <h3 class="mb-0">@edu.School</h3>
                        <div class="subheading mb-3">@edu.major</div>
                        <div>Computer Science - Web Development Track</div>
                        <p>@edu.</p>


                        <div class="flex-shrink-0"><span class="text-primary">@edu.JoinDate</span></div>
                    }

                </div>

            </div>
      </section>
      <hr class="m-0" />
    }

    @if (Model?.Tools?.Count >0)
    {
       <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                @foreach (var edu in Model.Tools)
                {
                    <li class="list-inline-item"><i src="@edu.Icon"></i></li>
                }
            </ul>


            <div class="subheading mb-3">Workflow</div>

            <ul class="fa-ul mb-0">
                @foreach (var data in Model.WorkFlow)
                {

                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        @data.Description
                    </li>
                }
            </ul>

        </div>

      </section>
       <hr class="m-0" />

    }

    @if (Model?.Interest?.Count > 0)
    {
       <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            @foreach (var data in Model.Interest)
            {
                <p class="mb-0">@data.Desription</p>
            }
        </div>
       </section>
       <hr class="m-0" />
    }
    <!-- Awards-->
      @if (Model?.Awards?.Count > 0)
    {
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Awards & Certifications</h2>
                <ul class="fa-ul mb-0">
                    @foreach (var award in Model.Awards)
                    {
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            @award.Description
                        </li>
                    }
                </ul>
            </div>
        </section>

       
    }


