@model Experience

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Company</td>
        <td>Position</td>
        <td>JoinDate</td>
        <td>EndDate</td>
        <td>Description</td>
        <td>UId</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Company</td>
        <td>@Model.Position</td>
        <td>@Model.JoinDate</td>
        <td>@Model.EndDate</td>
        <td>@Model.Description</td>
        <td>@Model.UId</td>
    </tr>
</table>
