@model User

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Email</td>
        <td>Address</td>
        <td>Phone</td>
        <td>About</td>
        <td>ProfileImg</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Email</td>
        <td>@Model.Address</td>
        <td>@Model.Phone</td>
        <td>@Model.Profilepic</td>
    </tr>
</table>
